#player-one-type-selection, #player-two-type-selection {
	width: 33%;
	padding: 0 0 10px;
	
	a {
		color: #333;
		padding: 10px 15px;
		text-decoration: none;
		background: #ddd;
		border-radius: 6px;
		
		&.selected {
			color: #fff;
			background: #4387fd;
		}
	}
}

#player-one-type-selection {
	float: left;
	
	a {
		float: left;
		margin: 0 5px 0 0;
	}
}

#player-two-type-selection {
	float: right;
	
	a {
		float: right;
		margin: 0 0 0 5px;
	}
}